[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = ###
	email = ###
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true


    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
    po = "!f() { echo git push origin \"$@\"; git push origin \"$@\"; }; f"
    c = "!f() { echo git checkout \"$@\"; git checkout \"$@\"; }; f"
    f = "!f() { echo git fetch origin \"$@\"; git fetch origin \"$@\"; }; f"
    cm = "!f() { echo git commit -m \"$*\"; git commit -m \"$*\"; }; f"
    ps = "!f() { echo git push --set-upstream origin \"$@\"; git push --set-upstream origin \"$@\"; }; f"
    p = "!f() { echo git pull origin \"$@\"; git pull origin \"$@\"; }; f"
    s = "!f() { echo git status \"$@\"; git status \"$@\"; }; f"
    b = "!f() { echo git branch \"$@\"; git branch \"$@\"; }; f"
    del = "!f() { echo git push origin --delete \"$@\"; git push origin --delete \"$@\"; }; f"
    a = "!f() { echo git add --all \"$@\"; git add --all \"$@\"; }; f"
    fp = "!f() { echo git fetch --prune \"$@\"; git fetch --prune \"$@\"; }; f"

